@media screen and (min-width: 576px) {
    .siderbar {
        flex-basis: 230px;
    }
    
    .logo {
        display: none;
    }

    .logo-text {
        position: relative;
        max-width: 90%;
        left: 3px;
        
    }

    .icon {
        max-width: 15%;
        position: relative;
        top: 5px;
        left: 5px;
    }

    li #text-selection {
        display: flex;
    }

    
}

@media screen and (min-width: 768px) {
    .music li {
        flex-basis: 100%;
        padding: 10px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        display: flex;
        margin: 0 auto;
    }

    ul#menu li { 
        flex-basis: calc(100% / 6);
        position: relative;
        left: 50%;
    }


}